* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #EDEDED;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}